<div class="card text-white bg-success floating-upload-button">
  <div class="card-body">
    <h5 class="card-title text-center">Need new package ? </h5>
    <p class="card-body">Click on the button bellow if you want to add a new package to your account </p>
    <button type="button" class="btn btn-success btn-lg btn-block add-border" ><a routerLink="/UploadPackage" class="text-white"><strong>+</strong> Upload</a></button>
  </div>
</div>

<div class="jumbotron mb-5">
  <div class="container">
    <h1 class="display-3"><i>Packages Dashboard</i></h1>
    <br>
    <p class="display-4">Check out the list of packages you uploaded !</p>
  </div>
</div>

<div class="container">
  <div *ngIf="PackagesList !== undefined || PackagesList.length != 0">
  <div class="card m-3" *ngFor="let item of PackagesList;let i=index">
    <div class="card-header">
      Upload Time : {{ Times[i] }}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ item.Name }}</h5>
      <p class="card-text"> Files count : {{ item.FilesCount }} PDF files</p>
      <a href="#" class="btn btn-primary" [routerLink]="[ '/PackageDetails', item.Id ]" >Details</a>
    </div>
  </div>
  </div>
  <div *ngIf="PackagesList === undefined || PackagesList.length == 0" class="text-center m-5">
    <img src="assets/Not-Found.png" class="img-responsive">
    <h3 class="display-4">No packages are created yet</h3>
  </div>
</div>